{% extends "base_generic.html" %}

{% block content %}
    <div class="wrap">
        <h1>Please Log In</h1>


        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <td>{{ form.username }}</td>
            <td>{{ form.password }}</td>
            <input class="accept-btn" type="submit" value="login"/>
        </form>
        <form method="get" action="/accounts/signin">
            <input class="accept-btn" type="submit" value="Sign In"/>
        </form>
    </div>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
{% endblock %}