body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    background-color: #e2e2e2;
    min-height: calc(100vh - 39px);
}

.sidebar {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.period {
    display: flex;
    flex-direction: column;
    color: #546e7a;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.period-item {
    text-align: center;
    padding: 10px 20px;
}

.period-item span {
    font-size: 12px;
    color: black;
}

.projects-block {
    display: flex;
    flex-direction: column;
}

.projects-title {
    text-align: center;
    text-decoration: underline;
}

.projects-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    padding: 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-tag {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Icon configuration task start */
.task-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.task-actions .circle {
    width: 7px;
    height: 7px;
    background-color: darkgreen;
    border-radius: 50%;
    margin: 1px 0;
}

.task-actions .actions-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 100px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.task-actions:hover .actions-container {
    display: flex;
}

.task:hover .task-actions {
    opacity: 1;
}

.action-btn {
    background: none;
    border: none;
    padding: 5px;
}

.action-btn:hover {
    background-color: dodgerblue;
    color: white;
}

/* Icon configuration end */

/* Icon configuration project start */
.project-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.project-actions .circle {
    width: 7px;
    height: 7px;
    background-color: darkgreen;
    border-radius: 50%;
    margin: 1px 0;
}

.project-actions .actions-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 100px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.project-actions:hover .actions-container {
    display: flex;
}

.project:hover .project-actions {
    opacity: 1;
}

.action-btn {
    background: none;
    border: none;
    padding: 5px;
}

.action-btn:hover {
    background-color: dodgerblue;
    color: white;
}

/* Icon configuration end */

.task-counter {
    margin-left: 15px;
    font-size: 12px;
    color: #000000;
}

.add-btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    color: red;
    font-weight: 600;
}

.main-content {
    max-width: 1200px;
    background-color: white;
    border: 1px solid grey;
    flex-basis: 60%;
    padding: 20px;
}

.day {
    font-size: 20px;
    color: black;
}

.date {
    font-size: 12px;
    color: #919191;
}

.task-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.priority {
    width: 20px;
    height: 20px;
    background-color: blue;
    border: 1px solid black;
    margin-right: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

/*add task form start*/

#add-task {
    display: none;
}

.add-task-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-task-form .inputs {
    display: flex;
}

.add-task-form .input {
    height: 30px;
    padding: 0 5px;
    border: 1px solid grey;
}

.add-task-form .edit-task-name {
    flex-basis: 65%;
    border-right: none;
}

.add-task-form .buttons {
    display: flex;
}

.add-task-form .buttons input,
.add-task-form .buttons a {
    background-color: dodgerblue;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.add-task-form .cancel {
    background: transparent;
    color: black;
}

.add-task-form .change-date {
    flex-basis: 35%;
}

/*add task form end*/
/*add proj form start*/

#add-proj {
    display: none;
}

.add-proj-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-proj-form .inputs {
    display: flex;
    align-items: center;
}

.add-proj-form .input {
    height: 30px;
    padding: 0 5px;
    border: 1px solid grey;
}

.add-proj-form .color-proj {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.add-proj-form .edit-proj-name {
    flex-basis: 70%;
}

.add-proj-form .buttons {
    display: flex;
}

.add-proj-form .buttons input,
.add-proj-form .buttons a {
    background-color: dodgerblue;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.add-proj-form .cancel {
    background: transparent;
    color: black;
}

.add-proj-form .change-date {
    flex-basis: 30%;
}

/*add proj form end*/

.task > span {
    display: flex;
    align-items: center;
}

.right-sidebar {
    flex-basis: 20%;
}