{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>
<header class="main-header">
    <div class="logo"><a href="/">TODO</a></div>
    <div class="active-user">{{ user }}</div>
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">Log In</a>
    {% else %}
        <a href="{% url 'logout' %}">Log Out</a>
    {% endif %}
    <div class="archive-icon"><a href="/task/archive">archive</a></div>
</header>
<section class="section">
    <div class="sidebar">
        <div class="period">
            {#            todo: configurate task count#}
            <div class="period-item"><a href="/">Today</a><span>{{ today_task_count }}</span></div>
            <div class="period-item"><a href="/task/week">Next 7 days</a><span>{{ week_task_count }}</span></div>
        </div>
        <div class="projects-block">
            <div class="projects-title">
                <a href="/">Projects</a>
            </div>
            <ul class="projects-list">
                {% for project in projects %}
                    {% if  project.pk|stringformat:"s" == edit_project %}
                        {% block edit_project %}
                        {% endblock %}
                    {% elif project.pk|stringformat:"s" == selected_project %}
                        {% block display_selected_project %}
                        {% endblock %}
                    {% else %}
                        {% block display_project %}
                        {% endblock %}
                    {% endif %}
                {% endfor %}
                {% block add_project %}
                {% endblock %}
            </ul>
            <form action=""></form>
            <button id="add-proj-btn" class="add-btn">
                + Add
            </button>
        </div>
    </div>
    <main class="main-content">
        <div class="date-container">
            <span class="day">Today</span>
            {#            todo: add autodate#}
            <span class="date">Tu 14 march</span>
        </div>

        <ul class="task-list">
            {% for task in tasks %}
                {% if task.pk|stringformat:"s" == selected_task %}
                    {% block editing_task %}
                    {% endblock %}
                {% else %}
                    {% block display_task %}
                    {% endblock %}
                {% endif %}
            {% endfor %}
            {% block add_task %}
            {% endblock %}
        </ul>
        <a id="add-task-btn" class="add-btn">
            + Add task
        </a>
        <form class=""></form>
    </main>
    <div class="right-sidebar"></div>
</section>
<script src="{% static 'js/main_page.js' %}"></script>
</body>
</html>