{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<header class="main-header">
    <div class="logo">TODO</div>
    <div class="archive-icon">0</div>
</header>
<section class="section">
    <div class="sidebar">
        <div class="period">
            <div class="period-item">Today <span>5</span></div>
            <div class="period-item">Next 7 days</div>
        </div>
        <div class="projects-block">
            <div class="projects-title">
                Projects
            </div>
            <ul class="projects-list">
                <li class="project">
                    <span class="project-tag" style="background-color: burlywood"></span>
                    <span class="project-name">Work</span>
                    <span class="task-counter">2</span>
                </li>
                <li class="project">
                    <span class="project-tag"></span>
                    <span class="project-name">Work</span>
                    <span class="task-counter">2</span>
                </li>
            </ul>
            <button class="add-btn">
                + Add
            </button>
        </div>
    </div>
    <main class="main-content">
        <div class="date-container">
            <span class="day">Today</span>
            <span class="date">Tu 14 march</span>
        </div>

        <ul class="task-list">
            <li class="task">
                    <span>
                        <span class="priority"></span>
                        <span class="task-name">ToDo test task</span>
                    </span>
                <span>
                        <span class="project">Work</span>
                        <span class="project-tag"></span>
                        <span class="task-actions">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="actions-container">
                                <button class="action-btn">Edit</button>
                                <button class="action-btn">Delete</button>
                            </span>
                        </span>
                    </span>
            </li>
            <form class="add-task-form">
                <div class="inputs">
                    <input type="text" class="input edit-task-name" value="ToDo test task"/>
                    <input class="input change-date" type="date">
                </div>
                <div class="buttons">
                    <button class="add">Add</button>
                    <button class="cancel">Cancel</button>
                    <select name="" id="">
                        <option>123</option>
                        <option>123</option>
                        <option>123</option>
                    </select>
                </div>
            </form>
        </ul>
        <button class="add-btn">
            + Add task
        </button>
        <form class=""></form>
    </main>
    <div class="right-sidebar">12</div>
</section>
</body>
</html>