{% extends 'tasks/base_main_page.html' %}

{% block display_task %}
    {% if task.priority == '3' %}
        <li class="task task-date-end">
            {% else %}
        <li class="task">
    {% endif %}
        <span>
            {% if task.priority == '0' %}
                <span class="priority" style="background-color: white"></span>
            {% elif task.priority == '1' %}
                <span class="priority" style="background-color: orange"></span>
            {% else %}
                <span class="priority" style="background-color: red"></span>
            {% endif %}
            {% if task.state == True %}
                <strike><span class="task-name">{{ task.text }} ------------- {{ task.end_time }}</span></strike>
            {% else %}
                <span class="task-name">{{ task.text }} ------------- {{ task.end_time }}</span>
            {% endif %}
        </span>
        <span>
            <span class="project">{{ task.project }}</span>
            <span class="project-tag" style="background-color: {{ task.project.color }}"></span>
            <span class="task-actions">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="actions-container">
                    <a class="action-btn" href="/task/done/{{ task.str_pk }}">Done</a>
                    <a class="action-btn" href="/task/update/{{ task.str_pk }}">Edit</a>
                    <a class="action-btn" href="/task/delete/{{ task.str_pk }}">Delete</a>
                </span>
            </span>
        </span>
    </li>
{% endblock %}

{% block editing_task %}
    <form class="add-task-form" action="/task/update/{{ selected_task }}" method="post"
          style="display:flex;">
        {% csrf_token %}
        <div class="inputs">
            <input name="text" type="text" class="input edit-task-name" value="{{ task.text }}"/>
            <input name="end_time" class="input change-date" type="datetime-local"
                   value="{{ task.end_time|date:'Y-m-d\Th:m:s' }}" id="end-time"/>
        </div>
        <div class="buttons">
            <input type="submit" class="add" value="add"/>
            <a class="cancel" id='cancel edit' href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            <select name="priority" id="">
                {#Todo: fix this bad code#}
                {% if task.priority == '0' %}
                    <option selected value="0">LOW</option>
                    <option value="1">MEDIUM</option>
                    <option value="2">HIGH</option>
                {% elif task.priority == '1' %}
                    <option value="0">LOW</option>
                    <option selected value="1">MEDIUM</option>
                    <option value="2">HIGH</option>
                {% else %}
                    <option value="0">LOW</option>
                    <option value="1">MEDIUM</option>
                    <option selected value="2">HIGH</option>
                {% endif %}
            </select>
            <select name="project" id="">
                {% for project in projects %}
                    {% if task.project.str_pk == project.str_pk %}
                        <option selected value="{{ project.str_pk }}">{{ project }}</option>
                    {% else %}
                        <option value="{{ project.str_pk }}">{{ project }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}

{% block add_task %}
    <form class="add-task-form" id="add-task" action="/task/add" method="post">
        {% csrf_token %}
        <div class="inputs">
            <input name="text" type="text" class="input edit-task-name" value="ToDo test task"/>
            <input name="end_time" class="input change-date" type="datetime-local">
        </div>
        <div class="buttons">
            <input type="submit" class="add" value="add"/>
            <a class="cancel" id='cancel-task-btn'>Cancel</a>
            <select name="priority" id="">
                <option value="0">LOW</option>
                <option selected value="1">MEDIUM</option>
                <option value="2">HIGH</option>
            </select>
            <select name="project" id="">
                {% for project in projects %}
                    <option value="{{ project.str_pk }}">{{ project }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}

{% block display_project %}
    <li class="project" id="project-{{ project.str_pk }}">
        <span class="project-tag" style="background-color: {{ project.color }}"></span>
        <a class="project-name" href="/task/project/{{ project.str_pk }}">{{ project.name }}</a>
        <span class="task-counter"
              id="proj-task-counter-{{ project.str_pk }}">{{ project.count_active_task }}</span>
        </span>
        <span>
            <span class="project-actions">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="actions-container">
                    <a class="action-btn edit-proj" id="proj-edit-btn-{{ project.str_pk }}"
                       href="/project/update/{{ project.str_pk }}">Edit</a>
                    <a class="action-btn delete-proj" id="proj-del-btn-{{ project.str_pk }}">Delete</a>
                </span>
            </span>
        </span>
    </li>
{% endblock %}

{% block display_selected_project %}
    <li class="project" style="background-color:rgb(255,255,255);">
        <span>
            <span class="project-tag" style="background-color: {{ project.color }}"></span>
            <a class="project-name" href="/task/project/{{ project.str_pk }}">{{ project.name }}</a>
            <span class="task-counter"
                  id="proj-task-counter-{{ project.str_pk }}">{{ project.count_active_task }}</span>
        </span>
        <span>
            <span class="project-actions">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="actions-container">
                    <a class="action-btn" href="/project/update/{{ project.str_pk }}">Edit</a>
                    <a class="action-btn delete-proj" id="proj-del-btn-{{ project.str_pk }}">Delete</a>
                </span>
            </span>
        </span>
    </li>
{% endblock %}

{% block add_project %}
    <form class="add-proj-form" id="add-proj" action="/project/add" method="post">
        {% csrf_token %}
        <div class="inputs">
            <input name="color" class="input color-proj" type="color">
            <input name="name" type="text" class="input edit-proj-name" value="Project name"/>
        </div>
        <div class="buttons">
            <input type="submit" class="add" value="add"/>
            <a class="cancel" id='cancel-proj-btn'>Cancel</a>
        </div>
    </form>
{% endblock %}

{% block edit_project %}
    <form class="add-proj-form" action="/project/update/{{ selected_project }}" method="post">
        {% csrf_token %}
        <div class="inputs">
            <input name="color" class="input color-proj" type="color" value="{{ project.color }}">
            <input name="name" type="text" class="input edit-proj-name" value="{{ project.name }}"/>
        </div>
        <div class="buttons">
            <input type="submit" class="add" value="add"/>
            <a class="cancel" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        </div>
    </form>
{% endblock %}