{% extends 'tasks/main_page.html' %}

{% block editing_task %}
    <form class="add-task-form" id="add-task" action="/task/update/{{ selected_task }}" method="post"
          style="display:flex;">
        {% csrf_token %}
        <div class="inputs">
            <input name="text" type="text" class="input edit-task-name" value="{{ task.text }}"/>
            <input name="end_time" class="input change-date" type="datetime-local">
        </div>
        <div class="buttons">
            <input type="submit" class="add" value="add"/>
            <a class="cancel" id='cancel'>Cancel</a>
            <select name="priority" id="">
                <option value="L">LOW</option>
                <option selected value="M">MEDIUM</option>
                <option value="H">HIGH</option>
            </select>
            <select name="project" id="">
                {% for project in projects %}
                    <option>{{ project }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}